@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&family=Open+Sans&family=Poppins:ital,wght@0,400;1,700&display=swap');
/* navbar-st */
*{
    margin: 0;
    padding: 0;
}
.container-for-navbar{
    background-color: whitesmoke;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 12px;
}
.logo{
    font-family: 'Open Sans', sans-serif;
    font-size: 30px;
    font-weight: 700px;
    transition: 0.10;
    cursor: pointer;
}
.menu-bar{
    list-style: none;
    display: flex;
    font-size: 18px;
    cursor: pointer;

}
.menu-bar li {
    margin: 20px;
}
.menu-bar:hover{
    color: aqua;
}
.logo:hover{
    color: violet;
}
/* nav-bar closed */
/* banner start */
.banner-title0{
    height: 90vh;
    background-image: url(image/slider.webp);
    background-blend-mode: overlay;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    display: flex;
    align-items: center;
    
}
.banner-info{
    margin-left: 200px;
}
.new-arrivals{
    color: red;
    font-size: 36px;
    padding-bottom: 8px;
}
.for-mother{
    font-size: 50px;
    padding-bottom: 15px;
}
.paragraph1{
    font-size: 18px;
    padding-bottom: 10px;
    color: #4b4b4b;
}
.btn-primary{
    background-color: red;
    font-size: 13px;
    padding: 18px 38px;
    border-radius: 5px;
    font-weight: 500;
    border: none;
    cursor: pointer;
    font-weight: bold;
}
.btn-primary:hover{
    background-color: white;
    color: red;
    font-weight: bold;
}
/* banner closed  */
/* about open */
.about-title{
    text-align: center;
    padding: 40px;
    
    background-color: #fdf5ea;
}
.about-us-container{
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #fdf9f9;
    box-shadow: #4b4b4b;


}
.image-sizing{
    width: 60%;
    background-size: cover;
    background-position: center;
    justify-content: space-around;
    

}
.abour-para1{
    font-weight: bold;
    font-size: 15px;
    margin-top: 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.about-title-name-do-color{
    color: red;
    
}
.btn-primary-2{
    background-color: red;
    font-size: 13px;
    padding: 18px 38px;
    border-radius: 5px;
    font-weight: 500;
    border: none;
    cursor: pointer;
    font-weight: bold;
    margin-top: 15px;
}
.btn-primary-2:hover{
    background-color: black;
    color: white;
    font-weight: bold;
}
.photo-about-section{
    margin-left: 400px;
}
.about-part-one{
    margin-left: 260px;

}
.font-changing{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
/* about-closed */
.cover-photo-for-review-style{
    height: 60vh;
    background-image: url(image/about/about-us\ \(1\).jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.icon-set{
    width: 50px;
    margin-top: 150px;
    align-items: center;
}
.quota{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: italic;
    color: white;
    /* margin-top: 150px; */
    
}
.cover-photo-for-review-style{
    align-items: center;
    text-align: center;
}
.quota:hover{
    color:beige;
}